# ======================================================
# NORMALIZE LINE ENDINGS
# ======================================================

* text=auto

# Python
*.py text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# TOML
*.toml text eol=lf

# JavaScript
*.js text eol=lf

# Markdown
*.md text eol=lf

# TXT
*.txt text eol=lf

# Docker
Dockerfile text eol=lf
.dockerfile text eol=lf

# Windows scripts
*.bat text eol=crlf
*.ps1 text eol=crlf
