# ======================================================
# NORMALIZE LINE ENDINGS
# ======================================================

* text=auto

# Python
*.py text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# TOML
*.toml text eol=lf

# Shell
*.sh text eol=lf

# Windows scripts
*.bat text eol=crlf
*.ps1 text eol=crlf
